.admin-content{
	height:100vh;
	padding:2rem;
}

.admin-content-top{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.admin-actions{
	display:flex;
	align-items:center;
}

.search{
	box-sizing:border-box;
	padding:0.5rem;
	margin-right:10px;
}

.data-row{
	background-color:#e5e5e5;
	border-radius:10px;
	margin:1rem 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.data-row-element{
	padding:0 1rem;
}

.data-row-actions{
	display:flex;
}

.data-row-actions > *{ 
	margin:0 0.5rem;
}
